        /* -------MAIN-------*/
    main{
        margin-top:2rem;
    }
    .margin{
        margin-top:2rem;
    }

    h1, p{
        text-align:center;
    }

    section{
        background-color:#35b0ab;
    }
