	
        /* -------MAIN-------*/

        .presentation, .info{
           
            width:75%;
            background-color:#35b0ab;
            margin-top:5rem;
            
        }
        
        .img-cabinet {
            float:right;
            width: 20rem;
            height:20rem;
        }      

      
