		/* -------GENERAL-------*/
*{
	margin:0px;
	padding:0px;

}

p {
line-height: 2.2rem;
	font-size:1.1rem;
}
body{
	background-color:  #226b80;

}

		/* -------HEADER-------*/
		
header{
	display:inline-block;
	display:flex;
	 background-color:#35b0ab;

}
header h1 {
	text-align:center;
}

nav {
        width: 100%;
        padding-bottom: 1.25rem;
        padding-top: 1.25rem;
		border-radius: 20px;
}

nav li {
        list-style-type : none;    
        float: left;
}



nav a {
        display :inline-block;
		text-decoration: none;
        padding: 1.25rem 1.87rem;
        color: 	#0077b3;   
        font-size: 1rem;
}

		/* -------MAIN-------*/
section{
	background-color:#35b0ab;
}
.doctor{
	display:flex;
	justify-content:center;
	padding-top:2rem;
}

table {
	display: flex;
	border-collapse:collapse;
	justify-content: center;
       
    margin-top: 5rem;
    width: 100%;
	font-size: 30px;

}

td, th{
	border: 1px solid black;
}		
		
		/* -------FOOTER-------*/

footer{
	background-color:#35b0ab;
	width:100%;
	margin-top:8rem;
}


