*{
    margin:0px;
    padding:0px;
}

body{
    background-color: #c7f0db;
}

header{
    /*background-image: url(../images/banner1.jpg);*/
    background-repeat: no-repeat;
    width: 500em;
    height:4rem;
}


header nav ul li {
    float:left;
    padding :20px 20px 20px 140px;
    list-style: none;
}

