*{
    margin:0px;
    padding:0px;
}

body{
    background-color: #8bbabb;
}

header{
    background-image: url(../images/banner2.jpg)
}
header nav ul li {
    display:inline;
    padding :20px 0px 0px 120px;
}

li{
    list-style: none;
}

.adress{
    float: right;
    font-size:1.2em;
}

.taille{
    font-size:1.5em;
}

p{
    line-height: 40px;
}

.blocleft{
    float:left;
    width:40%;
    background-color:#8bbabb;
}

.blocright{
    float:right;
    width: 40%;
    background-color: #8bbabb;
}

.bottom{
    bottom:0px;
    text-align: center;
}

.bloccenter{
    display: inline-block;
    width: 20%;
    background-color:red;
    height:44rem;
}
footer{
    float:right;
}