*{
    margin:0px;
    padding:0px;
}

body{
    background-color: #ffb997;
}

header nav ul li {
    float:left;
    padding :2px 5px 20px 40px;
    list-style: none;
}

footer nav ul li {
    float:left;
    padding :2px 5px 20px 40px;
    list-style: none;     
}
