

		/* -------MAIN-------*/
.underline{
	text-decoration:underline;
}
.aside-right{
	float:right;
	background-color:#35b0ab;
	width:15%;
	text-align:center;
	height:34.4rem;
	line-height:3.5rem;
}


.presentation, .info{
	
	width:75%;
	background-color:#35b0ab;
	margin-top:5rem;
	
}

.img-cabinet {
	float:right;
	width: 20rem;
	height: 15rem;
}

	


